.box {
    display: block;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}

.imgcon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.title {
    font-size: large;
    flex-grow: 1;
    flex-basis: 1;
    text-wrap: balance;
    padding: .5rem;
}

img {
    height: 60%;
    width: 60%;
    object-fit: cover;
    padding: 1rem;
}

p {
    margin: 0;
    margin-top: -20px;
    padding: 1rem;
}
